BraveSoftware/
Dharkael/
QtProject.conf
autostart/
baloofileinformationrc
cef_user_data/
chromium/
dconf/
dolphinrc
fans/
htop/
i3/config.new
i3pystat/__pycache__/
ksysguardrc
menus/
mimeapps.list
pacmixer/
pavucontrol.ini
pulse/
qt5ct/
unity3d/
user-dirs.dirs
user-dirs.locale
vlc/
xarchiver/
